@model Login

@{
    ViewData["Title"] = "TestLogin";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>@Html.LabelFor(model =>model.userName)</div>
    <div>@Html.EditorFor(model=>model.userName)</div>
    <div>@Html.LabelFor(model =>model.password)</div>
    <div>@Html.EditorFor(model=>model.password)</div>
    <div><input type="submit" value="Submit" /></div>
}